@model vd11.Models.ThamNien

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ThamNien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThamNienID" />
            <div class="form-group">
                <label asp-for="ThamNienLam" class="control-label"></label>
                @*---------------Dropdown List---------------------*@
                <select asp-for="ThamNienLam" class="form-control">

                    <option value="1">Dưới Một Năm</option>
                    <option value="2">Từ 2 Đên 5 Năm</option>
                    <option value="5">Trên 5 Năm</option>

                </select>
                <span asp-validation-for="ThamNienLam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luong" class="control-label"></label>
                <input asp-for="Luong" class="form-control" />
                <span asp-validation-for="Luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
