
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <body>
            <d>
                </datalist><a href="https://localhost:44392/NhanViens">This is a link</a>
            </d><hr />
            <d>
                <a href="https://localhost:44392/CongTies">This is a link2</a>
            </d><hr />
            <d>
                <a href="https://localhost:44392/ThamNiens">This is a link3</a>
            </d><hr />
        </body>
</div>
